[ ;; examples of dag representation in edn
 ;; |:a [1] 42|
 ;; |:b [1]   |
 ;;
 {:a {:ix 1
      :val 42}
  :b {:ix 1}}

 ;; |:a [1] |:b 42||
 ;; |       |:c 43||
 ;; |:b [1]        |
 ;; 
 {:a {:ix 1
      :val {:b 42
            :c 43}}
  :b {:ix 1}}

 ]
